.destination {
  position: relative;
  margin-bottom: 2rem;
}

.destinationInfo {
  position: absolute;
  bottom: -10px;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 1rem;
  display: grid;
  gap: 0.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.destinationImg {
  max-height: 400px;
}

.destinationName,
.destinationPrice {
  margin: 0;
}

.tripDetails {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  font-size: 0.8rem;
  margin: 0.6rem;
}
