@use "../../styles/abstracts/" as *;

.heroContent {
  margin-block: 5rem;

  @include respond-to(1140px) {
    margin-block: 2rem;
  }
}

.overrideGrid {
  @include respond-to(850px) {
    grid-template-columns: 1fr; // Override the grid for 850px and below
  }
}

h3 {
  margin-block-end: 24px;
  @include respond-to(1140px) {
    margin-block-end: 15px;
  }
}

h1 {
  margin-block-end: 34px;
  @include respond-to(1140px) {
    margin-block-end: 15px;
  }
}
p {
  margin-block-end: 30px;
  @include respond-to(1140px) {
    margin-block-end: 15px;
  }
}

.planeIcon {
  position: absolute;
  @include respond-to(xl) {
    transform: scale(0.6);
  }
  @include respond-to(850px) {
    display: none;
  }
}

.planeIconTop {
  top: 1rem;
  left: 4rem;
  @include respond-to(xl) {
    top: 0.5rem;
    left: 2.5rem;
  }

  @include respond-to(960px) {
    top: 1rem;
    left: 2rem;
  }
}

.planeIconBottom {
  top: 4rem;
  right: -2rem;
  z-index: 1;

  @include respond-to(xl) {
    top: 2rem;
    right: -2.5rem;
  }

  @include respond-to(960px) {
    top: 4rem;
    right: -3rem;
  }
}

.heroImageContainer {
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.heroImage {
  z-index: 3;
  position: relative;
  border: none;
  @include respond-to(980px) {
    top: 3rem;
  }

  @include respond-to(850px) {
    display: none;
  }
}
