:root {
  --color-text-primary: hsl(231, 49%, 17%);
  --color-text-muted: #6c757d;
  --color-text-link: hsl(215, 16%, 18%);
  --color-text-white: hsl(0, 0%, 100%);
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8f9fa;
  --color-accent: hsl(14, 70%, 60%);
  --color-gradient-orange: linear-gradient(135deg, #ff946d, #ff7d68);

  --container-padding-inline: 2rem;
  --container-padding-block: 2rem;
  --container-max-width: 75rem;

  --grid-gap: 1rem;

  --padding-button-x: 1.6875rem;
  --padding-button-y: 1.125rem;

  --radius: 10px;
}
$font-volkhov: "Volkhov", serif;
$font-poppins: "Poppins", sans-serif;
$padding-button-y: 1.125rem;
$padding-button-x: 1.625rem;

$font-size-xs: clamp(0.875rem, 1rem + 0.5vw, 1rem);
$font-size-base: 1rem;
$font-size-sm: clamp(1rem, 1.25rem + 1vw, 1.5rem);
$font-size-md: clamp(1.25rem, 1.5rem + 1vw, 2rem);
$font-size-lg: clamp(1.5rem, 2rem + 1vw, 2rem);
$font-size-xl: clamp(2rem, 3.125rem + 2vw, 3.125rem);
