@use "./reset.scss";
@use "./variables.scss";

body {
  color: var(--text-muted);
  font-size: var(--font-size-base);
  font-family: sans-serif;
}
h1,
h2,
h3 {
  color: var(--text-title);
  font-family: serif;
  line-height: 1;
}
h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-sm);
}

a {
  color: var(--text-link);
  text-decoration: none;
}

li {
  list-style: none;
}
