@use "../../styles/abstracts/" as *;

.evenColumns {
  display: grid;
  gap: var(--grid-gap, 1rem);
  grid-template-columns: repeat(var(--columns, 4), 1fr); // Default to 4 columns
  justify-items: center;
  align-items: center;

  // On medium screens, adjust to 2 columns
  @include respond-to(md) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  // On small screens, collapse to 1 column
  @include respond-to(sm) {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
}

.columns-1 {
  --columns: 1;
}
.columns-2 {
  --columns: 2;
}
.columns-3 {
  --columns: 3;
}
.columns-4 {
  --columns: 4;
}
